* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Gill Sans";
}
h1 {
  font-weight: lighter;
}
.shape {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#circle {
  border-radius: 50%;
}
#circle:hover {
  background-color: green;
}
#diamond {
  margin-top: 40px;
  rotate: 45deg;
  height: 140px;
  width: 140px;
  translate: 30px;
}
#diamond h1 {
  rotate: -45deg;
}
#diamond:hover {
  background-color: blue;
}
#square:hover {
  background-color: red;
}
